{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}
    sign up
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <div class="register-box">
            <h4 class="heading__tertiary mb--30">ثبت نام</h4>
            <form method="POST" class="form form--login">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form__group">
                    <input type="submit" value="ثبت نام" class="btn btn-submit btn-style-1">
                </div>
            </form>
        </div>
    </div>
</div>
    {% include 'cart/cart_sidebar.html' %}
{% endblock %}
